.info-with-decorations-block{
	position: relative;
	padding: 20px;
	display: flex;
	align-items: center;

	&:before,
	&:after{
		content: '';
		display: block;
		position: absolute;
	}

	&:before{
		border-left: 3px solid $primary;
		border-top: 3px solid $primary;
		left: 0;
		top: 0;
		width: 96px;
		height: 96px;
	}

	&:after{
		border-right: 3px solid $accent;
		border-bottom: 3px solid $accent;
		right: 0;
		bottom: 0;
		width: 48px;
		height: 48px;
	}

	.block-icon{
		margin-right: 15px;
		// width: 48px;
		flex: none;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.block-footer{
		margin-top: 15px;
	}

	h3{
		font-size: 18px;
		font-family: $second-font;
		color: $text-dark;
		line-height: 1.5;
		font-weight: 500;
		margin-bottom: 0;
	}

	&.with-footer{
		display: block;

		.block-inner{
			display: flex;
			align-items: center;
		}
	}

	@media screen and (max-width: 575px){
		h3{
			font-size: 15px;
		}
	}
}