.panel{
	position: fixed;
	width: 290px;
	left: 0;
	top: 0;
	background: #fff;
	height: 100vh;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	padding: 30px 25px;
	z-index: 200;
	transition: all $t;
	visibility: hidden;
	transform: translateX(-100%);

	.panel-close{
		position: absolute;
		right: 15px;
		top: 15px;
		width: 27px;
		height: 27px;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 18px;
			height: 2px;
			background: #000;
			position: absolute;
			left: calc(50% - 9px);
			top: calc(50% - 1px);
			transition: all $t;
		}

		&:before{
			transform: rotate(-45deg);
		}

		&:after{
			transform: rotate(45deg);
		}

		&:hover{
			&:before,
			&:after{
				background: $accent;
			}
		}
	}

	&.opened{
		transform: translateX(0);
		visibility: visible;

		&:after{
			visibility: visible;
			pointer-events: auto;
			opacity: 1;
		}
	}

	.panel-caption{
		font-size: 22px;
		color: $text-dark;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.panel-nav{
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 20px;

		li{
			margin-bottom: 6px;

			&:last-child{
				margin-bottom: 0;
			}

			a{
				color: inherit;
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					color: $accent;
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}
		}
	}

	.panel-socials{
		padding: 30px 0;
		border-top: 1px solid #eef3f9;
		border-bottom: 1px solid #eef3f9;

		.socials-list{
			grid-gap: 5px;
		}
	}

	.panel-info{
		padding-top: 30px;
	}
}