.review-card{
	background: #fff;
	border-radius: $r;
	box-shadow: $shadow;
	padding: 54px 30px 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	&:before{
		content: '';
		display: block;
		width: 52px;
		height: 55px;
		position: absolute;
		right: 33px;
		top: 20px;
		background: url(../img/big-icons/quote.png) no-repeat center center / contain;
	}

	.card-date{
		font-size: 12px;
		color: $primary;
		margin-bottom: 20px;
	}

	.card-text{
		flex: auto;
		margin-bottom: 30px;
	}

	.card-footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 10px * 2);
		margin-left: -10px;
		margin-right: -10px;
		
		.item{
			padding: 0 10px;
		}
	}

	.card-author{
		font-size: 15px;
		font-weight: bold;
		color: $text-dark;
	}

	.card-inner{
		display: grid;
		grid-template-columns: 136px 1fr;
		grid-gap: 55px;

		@media screen and (max-width: 991px){
			grid-gap: 20px;
		}

		@media screen and (max-width: 575px){
			grid-template-columns: 1fr;
		}
	}

	.letter-photo{
		display: block;
		max-width: 136px;

		img{
			margin-bottom: 13px;
			display: block;
			max-width: 100%;
			height: auto;
			border: 1px solid #d8e6f1 !important;
		}

		.view-original{
			color: $primary;
			font-size: 13px;
			text-decoration: underline;
		}

		&:hover{
			.view-original{
				text-decoration: none;
			}
		}
	}

	a img{
		display: block;
	}

	@media screen and (max-width: 575px){
		padding: 50px 20px 20px;
	}
}

.reviews-list{
	> .item{
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}