.interest-in-section{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: -12px;
	padding: 50px 0;
	position: relative;
	z-index: 2;

	.section-inner{
		display: grid;
		grid-template-columns: 455px min-content;
		justify-content: flex-start;
		grid-gap: 100px;
	}

	.section-content{
		p{
			font-size: 20px;
			line-height: 1.6;
		}

		a{
			color: $primary;

			&:hover{
				color: $accent;
			}
		}
	}

	.section-contacts{
		text-align: right;
		white-space: nowrap;
		padding-top: 50px;
	}

	@media screen and (max-width: 1199px){
		background-position: 40% center;
	}

	@media screen and (max-width: 991px){
		background-position: 30% center;

		.section-inner{
			grid-gap: 30px;
			justify-content: space-between;
		}
	}

	@media screen and (max-width: 767px){
		background: #fcfcfc !important;

		.section-inner{
			grid-template-columns: 1fr;
		}

		.section-content{
			p{
				font-size: 15px;
			}
		}

		.section-contacts{
			padding-top: 0;
			text-align: left;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.phone-link{
				margin-bottom: 10px;
			}
		}
	}
}