.locations-section{
	padding: 70px 0 80px;

	.section-header{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 30px;

		.item{
			width: 33.333%;
			padding: 0 15px;
			justify-content: center;

			&:last-child{
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	@media screen and (max-width: 1199px){
		.section-header{
			justify-content: space-between;

			.item{
				width: auto;
			}
		}
	}

	@media screen and (max-width: 575px){
		.section-header{
			justify-content: center;
		}
	}

	@media screen and (max-width: 374px){
		.cards-list{
			.item{
				width: 100% !important;
			}
		}
	}
}